<div class="container-fluid">
  <form>
    <div class="col-6">
      <input name="Nome" />
    </div>
    <div class="col-6">
      <input name="Endereco" />
    </div>
    <div class="col-6">
      <input name="Bairro" />
    </div>
    <div class="col-6">
      <input name="Cep" />
    </div>
    <div class="col-6">
      <input name="Cidade" />
    </div>
    <div class="col-6">
      <input name="Estado" />
    </div>
    <div class="col-6">
      <input name="Observação" />
    </div>
    <button>Enviar</button>
  </form>
</div>