<table>
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cep</th>
            <th scope="col">Estado</th>
            <th scope="col">Observação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Josua dos Santos</td>
            <td>Rua Ficticia, 454</td>
            <td>Bairro dos Bairros</td>
            <td>675658-433</td>
            <td>RJ</td>
            <td>Não há</td>
            <td>
                <button>Delete</button>
                <button>Atualizar</button>
            </td>

        </tr>
    </tbody>

</table>